* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal normal 14px/1 GothaPro;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.wrapper {
    overflow: hidden;
    min-width: 1200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper--intro {
    min-width: 100%;
}

.wrapper__content {
    flex: 1;
}

.wrapper__content--bottom {
    margin-bottom: 38px;
}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.containter--flex {
    display: flex;
}

.containter--width {
    display: flex;
    padding: 0 0 0 20px;
}

.container--banner {
    padding: 0;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 23.5%;
    margin-right: 24px;
    flex: 0 0 auto;
}

.aside--margin {
    margin-right: 19px;
}

.wrapper__content--margin {
    margin-bottom: 51px;
}