.delimiter {
    background-color: #27273e;
    padding: 24px 3%;
    background-image: url('../../img/pattern.png');
    margin-bottom: 29px;
    text-align: center;
}

.delimiter__text p {
    color: #fff;
    font-size: 18px;
    line-height: 1.67;
}

.delimiter__text--bold {
    color: #ec1e79;
    font-size: 18px;
    font-weight: bold;
}