header {
    min-height: 77px;
    background: #27273e;
    color: #fff;
    padding: 11px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.header--margin {
    margin-bottom: 44px;
}