.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../img/bg-intro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.intro__containter {
    display: flex;
    justify-content: center;
    align-items: center;
   
} 
