.contacts__work-hours {
    position: relative;
}

.contacts__work-hours:hover .contacts__dropdown {
    display: block;
    right: 0;
    opacity: 0.95; 
}

.contacts__work-hours:hover .contacts__work-hours-trigger {
    color: rgba(93, 209, 248, 0.7);
}

.contacts__dropdown {
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px 0 3px 3px;
    margin-top: 19px;
    opacity: 0;   
    right: -9999px;
    padding: 17px 10px;
    text-align: left;
    transition: opacity .5s;
}

.contacts__dropdown::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-top-width: 0px;
    border-bottom-color:  #fff;
    top: -11px;
    right: 0px;
}  


.contacts__dropdown::after {
    content: '';
    display: block;
    height: 25px;
    left: 0;
    right: 0;
    top: -25px;
    position: absolute;
}

.contacts__hours {
    color: #ec1e79;
    font-weight: bold;
    margin-bottom: 9px;
}

.contacts__lunch {
    color: #221f1f;
}

